*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
header, .heroSection{
    background-color: #1F2937;
    color: white;
    padding: 0 12rem;
    display:flex;
    justify-content: space-between;
}
header{
    padding-top: 1rem;
}
.links{
    gap: 2rem;
    display: flex;
}
.heroSection{
    padding-top: 8rem;
    padding-bottom: 4rem;
}
h1{
    font-weight: 900;
    font-size: 48px;
    width: 28rem;
}
.pHeroInfo{
    width: 28rem;
    font-size: 18px;
    color: #E5E7EB;
}
.imgPlaceholder{
    background-color: grey;
    width: 16rem;
    padding: 7rem 10rem;
}
.firstButton{
    background-color: #3882F6;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 16px;
}
.features{
    margin-top: 3rem; 
}
h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
    margin: auto 24rem;
}
.one{
    border: solid;
    border-width: 0.2rem;
    border-color: #3882F6;
    border-radius: 0.5rem;
    width: 9rem;
    height: 9rem;
}
.pFlexItem{
    width: 9rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 6rem;
}
.quote{
    background-color: #E5E7EB;
    padding: 6rem 25rem;
}
.actualQuote{
    width: 50rem;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}
.nameQuote{
    padding-left: 34rem;
}
.callToAction{
    margin: 5rem 18rem;
    padding: 3rem 8rem;
    background-color: #3882F6;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 50rem;
}
h3{
    font-size: 24px;
}
.secondButton{
    background-color: #3882F6;
    margin-top: 1rem;
    border: 2px solid #E5E7EB;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 16px;
}
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 2rem 0;
}